<ngx-spinner
  type="ball-pulse"
  size="default"
></ngx-spinner>
<div >
  <h1 class="text-2xl text-center font-black my-4">
    Top Headlines
  </h1>

  <div class="tabs justify-center" >
    <a class="tab tab-lg tab-lifted" routerLink="/top-headlines/general" routerLinkActive="tab-active">General</a>
    <a class="tab tab-lg tab-lifted" routerLink="/top-headlines/business" routerLinkActive="tab-active">Business</a>
    <a class="tab tab-lg tab-lifted" routerLink="/top-headlines/entertainment" routerLinkActive="tab-active">Entertainment</a>
    <a class="tab tab-lg tab-lifted" routerLink="/top-headlines/health" routerLinkActive="tab-active">Health</a>
    <a class="tab tab-lg tab-lifted" routerLink="/top-headlines/science" routerLinkActive="tab-active">Science</a>
    <a class="tab tab-lg tab-lifted" routerLink="/top-headlines/sports" routerLinkActive="tab-active">Sports</a>
    <a class="tab tab-lg tab-lifted" routerLink="/top-headlines/technology" routerLinkActive="tab-active">Technology</a>
  </div>

  <div class="
    m-4 inline-grid gap-2
    md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
  ">
    <app-article
      *ngFor="let article of articles |
        paginate: {
          itemsPerPage: perPage,
          currentPage: page,
          totalItems: total
        }"
      [article]="article"
    ></app-article>

  </div>

  <div *ngIf="!loading" class="btn-group w-full my-4 justify-center">
    <pagination-template #p="paginationApi"
      (pageChange)="getPage($event)">

      <div class="btn-group">
        <button type="button" class="btn"
          [class.disabled]="p.isFirstPage()"
          *ngIf="!p.isFirstPage()"
          (click)="p.previous()"
        >
          &lt;
        </button>
        <button type="button"
          *ngFor="let page of p.pages"
          (click)="p.setCurrent(page.value)"
          class="btn"
          [class.btn-active]="p.getCurrent() === page.value">
          {{ page.label }}
        </button>
        <button type="button" class="btn"
          [class.disabled]="p.isLastPage()"
          *ngIf="!p.isLastPage()"
          (click)="p.next()"
        >
          &gt;
        </button>
      </div>

    </pagination-template>
  </div>

</div>
